<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auragate.rbac.mapper.RoleMapper">

    <resultMap id="RoleResult" type="Role">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleSort" column="role_sort"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--查询角色列表-->
    <select id="selectRoleList" resultMap="RoleResult" parameterType="Role">
        select role_id, role_name, role_sort, create_time
        from role
        <where>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%', #{roleName} ,'%')
            </if>
        </where>
        order by role_sort
    </select>

    <!--根据角色ID查询角色信息-->
    <select id="selectRoleByRoleId" resultMap="RoleResult" parameterType="Long">
        select role_id, role_name, role_sort, create_time
        from role
        where role_id = #{roleId}
    </select>

    <!--新增角色-->
    <insert id="insertRole" parameterType="Role" useGeneratedKeys="true" keyProperty="roleId">
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">role_id,</if>
            <if test="roleName != null and roleName != ''">role_name,</if>
            <if test="roleSort != null">role_sort,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">#{roleId},</if>
            <if test="roleName != null and roleName != ''">#{roleName},</if>
            <if test="roleSort != null">#{roleSort},</if>
        </trim>
    </insert>

    <!--修改角色-->
    <update id="updateRole" parameterType="Role">
        update role
        <set>
            <if test="roleName != null and roleName != ''">role_name = #{roleName},</if>
            <if test="roleSort != null">role_sort = #{roleSort},</if>
        </set>
        where role_id = #{roleId}
    </update>

    <!--删除角色-->
    <delete id="deleteRoleByRoleIds" parameterType="Long">
        delete from role
        where role_id in
        <foreach collection="array" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

</mapper>
